
.example-icon{
  background: #673ab7;
  color: #fff;
  border: #673ab7;
}

.example-button-container{
  display: flex;
  justify-content: center;
  width: 120px;
}

a{
   color: white;
   text-decoration: none;
 }

.list{
  display: flex;
  li{
      list-style: none;
      padding-right: 1rem;

      a.active{
          color: red;
          text-decoration: none;
      }
  }

}